{% extends 'layout/base.html' %}

{% block title %} Gio Hang {% endblock %}
{% block content %}
<h1 class="text-center text-danger"> GIO HANG </h1>
{% if 'cart' in session and session['cart']%}
<table class="table">
    <tr>
        <th> Ma San Pham </th>
        <th> Ten San Pham </th>
        <th> Don Gia </th>
        <th> So Luong </th>
        <th></th>
    </tr>
    {% for c in session['cart'].values() %}
    <tr id = "product{{ c.id }}">
        <td> {{c.id}} </td>
        <td> {{c.name}} </td>
        <td> {{c.price}} </td>
        <td>
            <div class="form-group">
                <input type="number"
                       min="1"
                       onblur = "updateCart({{ c.id }}, this)"
                       value="{{c.quantity}}"
                       class="form-control"/>
            </div>

        </td>
        <td>
            <input type="button"
                   onclick="deleteCart({{ c.id }})"
                   value="xoa"
                   class="btn btn-danger"/>
        </td>
    </tr>
    {% endfor %}
</table>
<div class="alert alert-info">
    <h5>Tong San Pham: <span class="cart-counter">{{stats.total_quantity}} </span></h5>
    <h5>Tong Tien: <span id= "total-amount">{{"{:,.0f}".format(stats.total_amount) }} VND</span></h5>
</div>
{% if current_user.is_authenticated %}
<input type="button" value="Thanh Toan" class="btn btn-success" onclick="pay()"/>
{% else %}
<a href="{{ url_for('user_signin', next= 'cart') }}">Dang nhap de thanh toan</a>
{% endif%}
<br><br>
{% else %}
<h1>Khong Co San Pham Nao Trong Gio</h1>
{% endif %}
{% endblock %}